@page "/devices"
@using arcadeServer
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject GameData GameData;
<PageTitle>Devices</PageTitle>

<h1>Devices</h1>

<table class="table">
        <thead>
        <tr>
            <th>IP</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var device in GameData.Screens)
        {
            var ip = device.IP;
            <tr>
                <td>@device.IP</td>
                <td>
                    <button type="button" @onclick="@(e=>GameData.RemoveScreen(ip))">X</button>
                </td>
            </tr>
        }
        </tbody>
</table>



<form method="post" @onsubmit="AddDevice" @formname="starship-plain-form">
    <AntiforgeryToken/>
    <div>
        <label>
            IP:
            <InputText @bind-Value="IpLabel"/>
        </label>
    </div>
    <div>
        <button type="submit">Add Screen</button>
    </div>
</form>

<p>@message</p>

@code {
    [SupplyParameterFromForm]
    private string IpLabel { get; set; } = string.Empty;
    private string message { get; set; } = string.Empty;
    
    private void AddDevice()
    {
        message = string.Empty;
        var uri = new UriBuilder().Host = IpLabel;
        try
        {
            GameData.AddScreen(new ScreenDevice(new Uri($"http://{uri}")));
        }
        catch(Exception exception)
        {
            message = exception.Message;
            Console.WriteLine(exception);
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        
    }
}
